.body-text {
    font-size: 15px;
    color: white;
}

.header {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.sub-header {
    font-size: 21px;
    font-weight: 600;
    color: white;    
}

.back-img {
 background-image: url("../Assets/Desktop app background.png");
 background-size: cover;
 background-repeat: no-repeat;
 min-height: vh100;

}